section, main
{padding-top: 60px;
padding-bottom: 60px;
margin-bottom: 70px;}
#product
{margin-top: 100px;
margin-bottom: 60px;}
.rassilka
{border: 1px solid;
text-align: center;
padding: 40px 40px 40px 300px;
margin-bottom: 150px;
margin-left: 80px;
margin-right: 50px;}
.possibl
{text-align: center;
margin-bottom: 100px;}
#block1, #block3, #block5
{background-color: #e6e6e6;
padding-top: 20px;
padding-bottom: 20px;}
#block1, #block2, #block3, #block4, #block5
{margin: 120px 10px 120px 10px;}
#youtube
{display: block;
margin-left: auto;
margin-right: auto;}
